<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <meta charset="UTF-8">
    <title>Mes Réservations</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div th:if="${reservations.isEmpty()}" class="loanDiv my-3 p-3 rounded">
            <h4 class="border-bottom border-dark pb-2 mb-0 text-center">Vous n'avez aucune réservation enregistrée</h4>
        </div>
        <div th:if="${!reservations.isEmpty()}"  class="loanDiv my-3 p-3 rounded">
            <h4 class="border-bottom border-dark pb-2 mb-0 text-center">Vos Réservations</h4>
            <div th:each="reservation:${reservations}" class="media pt-3" >
                <i class="far fa-bookmark fa-2x"></i>
                <div class="media-body pl-2 pb-2 mb-0 small lh-125 border-bottom border-dark">
                    <div>
                        <u class="h4 d-block text-capitalize text-gray-dark pb-2" th:each="author:${reservation.getExtendedBook().getBookDto().getAuthors()}"
                           th:with="authorName=${author.getFirstName()} + ' ' + ${author.getLastName()}  + ${authorStat.count != authorStat.size ? ', ' : ''}"
                           th:text="|${reservation.getExtendedBook().getBookDto().getTitle()} - ${authorName}|">Titre livre - Auteur</u>
                        <div class="lead" th:switch="${reservation.getReservationDto().getCurrentStatus()}">
                            <div th:case="PENDING">
                                <span th:text="|En attente depuis le ${#temporals.format(reservation.getCurrentStatusDate())}.|"></span>
                                <br>
                                <span th:text="|${reservation.getExtendedBook().getActiveReservations().size() == 1 ? 'Une personne' : reservation.getExtendedBook().getActiveReservations().size() + ' personnes'} en attente|"></span>
                                <br>
                                <span th:text="|Prochain retour prévu le ${reservation.getExtendedBook().getEarliestReturn()}|">Prochain retour prévu le 12 février<br></span>
                            </div>
                            <span class="redBorder" th:case="RESERVED" th:text="|Exemplaire disponible à venir chercher au plus tard le ${#temporals.format(reservation.getCurrentStatusDate().plusDays(2))}.|"></span>
                            <span th:case="TERMINATED" th:text="|Terminée le ${#temporals.format(reservation.getCurrentStatusDate())}.|"></span>
                            <span th:case="CANCELED" th:text="|Annulée le ${#temporals.format(reservation.getCurrentStatusDate())}.|"></span>
                        </div>
                    </div>
                    <br>
                    <!-- History Collapse -->
                    <div th:if="${reservation.getReservationDto().getStatuses().size() > 1}" th:with="reservationId=${reservation.getReservationDto().getId()}" class="accordion" th:id="|historyAccordion${reservationId}|">
                        <div class="card">
                            <div class="card-header historyHeader" th:id="|header${reservationId}|">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" th:data-target="|#historyCollapse${reservationId}|" aria-expanded="false" th:aria-controls="|historyCollapse${reservationId}|">
                                        Historique
                                    </button>
                                </h5>
                            </div>
                        </div>

                        <div th:id=|historyCollapse${reservationId}| class="collapse" th:aria-labelledby="|header${reservationId}|" th:data-parent="|#historyAccordion${reservationId}|">
                            <div class="card-body historyBody" th:each="status:${reservation.getReservationDto().getStatuses()}">
                                <div th:switch="${status.getStatus()}">
                                    <span th:case="PENDING" th:text="|Réservation créée le ${status.getDate()}|"></span>
                                    <span th:case="RESERVED" th:text="|En attente de retrait le ${status.getDate()}|"></span>
                                    <span th:case="TERMINATED" th:text="|Réservation terminée le ${status.getDate()}|"></span>
                                    <span th:case="CANCELED" th:text="|Réservation annulée le ${status.getDate()}|"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
