<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <meta charset="UTF-8">
    <title>Mes Réservations</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div th:if="${reservations.isEmpty()}" class="loanDiv my-3 p-3 rounded">
            <h4 class="border-bottom border-dark pb-2 mb-0 text-center">Vous n'avez aucune réservation enregistrée</h4>
        </div>
        <div th:if="${!reservations.isEmpty()}"  class="loanDiv my-3 p-3 rounded">
            <h4 class="border-bottom border-dark pb-2 mb-0 text-center">Vos Réservations</h4>
            <div th:each="reservation:${reservations}" class="media pt-3" >
                <i class="far fa-bookmark fa-2x"></i>
                <div hidden th:text="${reservation.getReservationDto().getId()}"></div>
                <div class="media-body pl-2 pb-2 mb-0 small lh-125 border-bottom border-dark">
                    <div>
                        <div class="reservationTitle">
                            <div>
                                <u class="h4 d-block text-capitalize text-gray-dark pb-2" th:each="author:${reservation.getReservationDto().getBookAuthors()}"
                           th:with="authorName=${author.getFirstName()} + ' ' + ${author.getLastName()}  + ${authorStat.count != authorStat.size ? ', ' : ''}"
                           th:text="|${reservation.getReservationDto().getBookTitle()} - ${authorName}|">Titre livre - Auteur</u>
                            </div>
                            <div th:if="${reservation.isActive()}">
                                <a onclick="confirm('Etes vous sûr de vouloir annuler cette réservation?')" th:href="@{/reservations/cancel(id=${reservation.getReservationDto().getId()})}">Annuler la réservation</a>
                            </div>
                        </div>

                        <div th:if="${#strings.equals(param.id, reservation.getReservationDto().getId())}">
                            <br>
                            <span th:if="${#strings.equals(param.canceled, 'true')}" class="alert alert-success">
                                La réservation a bien été annulée
                            </span>
                            <span th:if="${#strings.equals(param.canceled, 'false')}" class="alert alert-warning">
                                La réservation ne peut pas être annulée. Merci de réessayer ultérieurement.
                            </span>
                            <span th:if="${param.created}" class="alert alert-success">
                                La réservation a bien été créée, vous serez averti par email lorsque le livre sera disponible.
                                Vous disposerez alors de 48h pour le récupérer.
                            </span>
                            <br>
                            <br>
                        </div>

                        <div class="reservationBody" th:switch="${reservation.getReservationDto().getCurrentStatus()}">
                            <div th:case="PENDING">
                                <span th:text="|En attente depuis le ${#temporals.format(reservation.getCurrentStatusDate())}.|"></span>
                                <br>
                                <div th:if="${reservation.getReservationDto().getUserPositionInList() != 0}" th:switch="${reservation.getReservationDto().getUserPositionInList()-1}">
                                    <span th:case="0" th:text="|Vous êtes la première personne sur la liste d'attente|"></span>
                                    <span th:case="1" th:text="|Il y a une personne en attente avant vous|"></span>
                                    <span th:case="*" th:text="|Il y a ${reservation.getReservationDto().getUserPositionInList()-1} personnes en attente avant vous|"></span>
                                </div>
                                <span th:text="|Prochain retour prévu le ${#temporals.format(reservation.getNextReturnDate())}|">Prochain retour prévu le 12 février<br></span>
                            </div>
                            <div>
                                <span class="redBorder text-danger" th:case="RESERVED" th:text="|Exemplaire disponible à venir chercher au plus tard le ${#temporals.format(reservation.getCurrentStatusDate().plusDays(2))}.|"></span>
                                <span th:case="TERMINATED" th:text="|Terminée le ${#temporals.format(reservation.getCurrentStatusDate())}.|"></span>
                                <span th:case="CANCELED" th:text="|Annulée le ${#temporals.format(reservation.getCurrentStatusDate())}.|"></span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- History Collapse -->
                    <div th:if="${reservation.getReservationDto().getStatuses().size() > 1}" th:with="reservationId=${reservation.getReservationDto().getId()}" class="accordion" th:id="|historyAccordion${reservationId}|">
                        <div class="card">
                            <div class="card-header historyHeader" th:id="|header${reservationId}|">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" th:data-target="|#historyCollapse${reservationId}|" aria-expanded="false" th:aria-controls="|historyCollapse${reservationId}|">
                                        Historique
                                    </button>
                                </h5>
                            </div>
                        </div>

                        <div th:id=|historyCollapse${reservationId}| class="collapse" th:aria-labelledby="|header${reservationId}|" th:data-parent="|#historyAccordion${reservationId}|">
                            <div class="card-body historyBody" th:each="status:${reservation.getReservationDto().getStatuses()}">
                                <div th:switch="${status.getStatus()}">
                                    <span th:case="PENDING" th:text="|Créée le ${status.getDate()}|"></span>
                                    <span th:case="RESERVED" th:text="|En attente de retrait le ${status.getDate()}|"></span>
                                    <span th:case="TERMINATED" th:text="|Terminée le ${status.getDate()}|"></span>
                                    <span th:case="CANCELED" th:text="|Annulée le ${status.getDate()}|"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
