<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Rechercher un Livre</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <div th:if="${param.error}" class="text-center p-2 m-2">
                <br>
                <div class="alert alert-danger" th:text="|Impossible de réserver le livre : ${param.error}|"></div>
            </div>

            <div class="searchDiv my-3 p-3 rounded">
                <!-- Underlined search bars -->
                <form th:action="@{/books}" method="get">
                    <div class="input-group mt-2 mb-3">
                        <input type="text" placeholder="Rechercher un livre par titre" name="title" class="form-control form-control-underlined mx-1" th:value="${title}">
                        <input type="text" placeholder="Rechercher un livre par auteur" name="author" class="form-control form-control-underlined mx-1" th:value="${author}">
                        <div class="input-group-append">
                            <button id="buttonSearch" type="submit" class="btn btn-link"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div>
                        <a th:href="@{/books}" style="font-size: 0.9rem;">Réinitialiser la recherche</a>
                    </div>
                </form>
            </div>
            <div class="searchDiv my-3 p-3 rounded">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Auteur</th>
                        <th scope="col">Isbn</th>
                        <th scope="col">Exemplaires disponibles</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="book:${books}">
                        <td th:text="${book.getBookDto().getTitle()}"></td>
                        <td>
                            <span th:each="author, iterStat:${book.getBookDto().getAuthors()}"
                                  th:with="authorName=${author.getFirstName()} + ' ' + ${author.getLastName()}  + ${iterStat.count != iterStat.size ? ', ' : ''}"
                                  th:text="${authorName}">
                            </span>
                        </td>
                        <td th:text="${book.getBookDto().getIsbn()}"></td>
                            <td th:if="${book.getBookDto().getCopiesAvailable() <= 0}" class="tableLineWithButton">
                                <div>
                                    <span th:text="|Aucun exemplaire disponible|"></span><br>
                                    <span th:if="${!book.getBookDto().isReservationListFull()}"><button class="mt-0 mb-0 btn-round btnReservation"><a th:href="@{/reservations/add(bookId=${book.getBookDto().getId()})}">Réserver</a></button><br></span>
                                    <span th:if="${book.getBookDto().isReservationListFull()}"><i>Liste d'attente complète</i><br></span>
                                    <span th:if="${book.getActiveReservations().size() == 0}" th:text="'Aucune personne en attente'"></span>
                                    <span th:if="${book.getActiveReservations().size() >= 1}" th:text="|${book.getActiveReservations().size() == 1 ? 'Une personne' : book.getActiveReservations().size() + ' personnes'} en attente|">2 personnes en attente</span>
                                    <br>
                                    <span th:if="${book.getEarliestReturn() == null}" th:text="Pas de retour prévu prochainement"></span>
                                    <span th:if="${book.getEarliestReturn() != null}" th:text="|Prochain retour prévu le ${#temporals.format(book.getEarliestReturn())}|">Prochain retour prévu le 12 février<br></span>
                                </div>
                            </td>
                            <td th:if="${book.getBookDto().getCopiesAvailable() > 0}" th:text="${book.getBookDto().getCopiesAvailable()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
