<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Rechercher un Livre</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="searchDiv my-3 p-3 rounded">
                <!-- Underlined search bars -->
                <form th:action="@{/books}" method="get">
                    <div class="input-group mt-2 mb-3">
                        <input type="text" placeholder="Rechercher un livre par titre" name="title" class="form-control form-control-underlined mx-1" th:value="${title}">
                        <input type="text" placeholder="Rechercher un livre par auteur" name="author" class="form-control form-control-underlined mx-1" th:value="${author}">
                        <div class="input-group-append">
                            <button id="buttonSearch" type="submit" class="btn btn-link"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div>
                        <a th:href="@{/books}" style="font-size: 0.9rem;">Réinitialiser la recherche</a>
                    </div>
                </form>
            </div>
            <div class="searchDiv my-3 p-3 rounded">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Auteur</th>
                        <th scope="col">Isbn</th>
                        <th scope="col">Exemplaires disponibles</th>
                    </tr>
                    </thead>
                    <tbody>
<!--                    <tr th:each="book:${books}">-->
                    <tr th:each="book:${booksInheritance}">
                        <td th:text="${book.getTitle()}"></td>
                        <td>
                            <span th:each="author, iterStat:${book.getAuthors()}"
                                  th:with="authorName=${author.getFirstName()} + ' ' + ${author.getLastName()}  + ${iterStat.count != iterStat.size ? ', ' : ''}"
                                  th:text="${authorName}">
                            </span>
                        </td>
                        <td th:text="${book.getIsbn()}"></td>
<!--                        <div th:switch="${book.getCopiesAvailable()}">-->
<!--                            <td th:case="${0}" class="tableLineWithButton">-->
<!--                                <span th:text="0"></span>-->
<!--                                <span><button class="mt-0 mb-0 btn-round btnReservation">Réserver</button></span>-->
<!--                            </td>-->
<!--                            <td th:case="*" th:text="${book.getCopiesAvailable()}"></td>-->
<!--                        </div>-->
                            <td th:if="${book.getCopiesAvailable() == 0}" class="tableLineWithButton">
                                <span th:text="0"></span>
                                <span th:if="${!book.isReservationListFull()}">
                                    <button class="mt-0 mb-0 btn-round btnReservation">Réserver</button>
                                    <br>
                                    <span th:text="|${book.getActiveReservations().size() < 0 ? 'Aucune personne' : book.getActiveReservations().size() + ' personnes'} en attente|">2 personnes en attente</span>
                                    <br>
                                    <span th:text="|Prochain retour prévu le ${#dates.format(execInfo.now)}|">Prochain retour prévu le 12 février</span>
                                </span>
                                <span th:if="${book.isReservationListFull()}"><i>Liste d'attente complète<br>2 personnes en attente <br> prochain retour prévu le 12 février <br></i></span>
                            </td>
                            <td th:if="${book.getCopiesAvailable() != 0}" th:text="${book.getCopiesAvailable()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
